<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <form action="">
        <input type="text" list="list" placeholder="출발지를 입력해주세요">
        <datalist id="list">
            <option value="경주">경주</option>
            <option value="부산">부산</option>
        </datalist>
    </form>
</body>
</html>